@font-face {
    font-family: 'Perpetua';
    src: url('../Resources/Fonts/per_____.ttf') format('truetype');
}

@media print and (color) {
    * { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}

* {
    font-family: 'Perpetua';
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: white;
}

a:active {
    color: white;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 107, 107);
}