@font-face {
    font-family: 'Perpetua';
    src: url('Resources/Fonts/per_____.ttf') format('truetype');
}

* {
    font-family: 'Perpetua';
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

.hidden {
    opacity: 0;
}

hr {
    margin: auto;
}

.volume-container {
    display: none;
    position: absolute; 
    justify-content: left;
    top: 110px;
    left: 0px;
    width: 400px;
    padding: 5px;
    z-index: 11;
}

.volume-container p {
    color: white;
    font-size: 20px;
    padding: 7px 5px 3px 5px;
    text-align: center;
}

.muteToggle {
    height: 25px;
    width: 25px;
    padding: 5px;
    filter: invert(100%);
    z-index: 5;
    cursor: pointer;
}

.muteToggle:hover {
    filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
}

.slide-hide {
    display: none;
}

.slider[type=range]{
    -webkit-appearance: none;
    background: none;
    padding: 0px 10px 0 10px;
}

.slider[type=range]::-webkit-slider-runnable-track {
    width: 260px;
    height: 6px;
    background: white;
    border: none;
    border-radius: 3px;
}

.slider[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    transform: translateY(-30%);
    background: rgb(179, 179, 179);
    cursor: pointer;
}

video.background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

header {
    position: fixed;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

header hr {
    width: 80%;
    border-bottom: solid 2px white;
}

.nav-item {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-title-top {
    font-size: 26px;
}

.nav-title-sub {
    font-size: 20px;
}

.comments {
    height: 25px;
    width: 25px;
    filter: invert(100%);
    cursor: pointer;
}

.comments:hover {
    filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
}
  
.menu {
    height: 25px;
    width: 25px;
    filter: invert(100%);
    cursor: pointer;
}

.menu:hover {
    filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
}

.hamburger-nav {
    position: fixed;
    display: flex;
    justify-content: left;
    flex-direction: column;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: rgb(26, 26, 26);
    z-index: 9;
    padding-top: 135px;
    overflow-x: hidden;
    transition: all 0.5s;
}

.hamburger-nav a {
    width: 50%;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    cursor: pointer;
}

.hamburger-nav a:hover {
    filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
}

.banner {
    margin-top: 180px;
    text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.623);
    padding-top: 75px;
	padding-bottom: 75px;
}

.banner hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    font-size: 48px;
}

.subtext {
    font-size: 36px;
}

.define {
    font-size: 28px;
    word-wrap: normal;
    margin: 28px 20% 28px 20%;
}

.enter {
    font-size: 24px;
    margin-top: 30px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: black;
    transition-duration: 0.4s;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 8px;
}

.enter:hover {
    background-color: white;
    color: black;
    border-color: black;
  }

hr {
    width: 0;
    overflow: hidden;
    border-bottom: solid 4px white;
    border-top-width: 0px;
}

.arrow {
    display: inline-block;
    transform: scale(1.5);
    filter: invert(100%);
    cursor: pointer;
}

.arrow:hover {
    filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
}

.arrow.special {
    display: none;
    position: absolute;
    top: 235px;
    left: 49.4%;
    z-index: 5;
}

.information {
    padding: 10% 0px 10% 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    display: none;
}

.chapter {
    width: 80%;
    text-align: center;
    display: inline-block;
    margin: 400px 10% 400px 10%;
}

#chapter2, #chapter3 {
    width: 100%;
    margin: 400px 0px 400px 0px;
}

.chapter .about {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.visual {
    max-height: 200px;
}

ul {
    text-align: left;
    font-size: 22px;
}

.chapter p.listTitle {
    text-align: left;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}   

.project-item {
    width: 400px;
    margin: 15px;
    padding-bottom: 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 25px;
}

.project-header {
    height: 250px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.project-img {
    display: block;
    position: absolute;
    left: 50%;
    min-width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

.project-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    padding: 15px;
}

.project-info {
    font-size: 20px;
    padding: 15px;
}

.project-description {
    margin-bottom: 10px;
}

.project-list {
    text-align: left;
}

.project-list-key {
    margin: 5px 0px 5px 0px;
}

.project-utility {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 7px 12px 12px 12px;
}

.project-utility-item {
    padding: 5px 15px 5px 15px;
    margin: 5px 5px 0px 5px;
    border-radius: 5px;
    background-color: rgb(45, 45, 45)
}

footer {
    display: none;
    text-align: center;
    color: white;
}

.contact {
    font-size: 22px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(45, 45, 45);
}

.contact div {
    padding-top: 20px;
}

.socials {
    height: 35px;
    width: 35px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
    filter: invert(100%);
    cursor: pointer;
}

.socials:hover {
    filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
}

.copyright {
    padding: 20px;
    background-color: rgb(26, 26, 26);
}

.copyright a {
    text-decoration: underline;
}

.return {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    color: white;
    filter: invert(100%);
    border-radius: 4px;
    background-color: rgb(107, 107, 107);
    z-index: 5;
}

.return:hover {
    background-color: rgb(179, 179, 179);
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    border-radius: 12px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(107, 107, 107);
}