.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    max-width: 1920px;
    margin: auto;
}

.title {
    font-size: 48px;
}

.chapter {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 100px 0px 100px 0px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 100%;
    margin-bottom: 0px;
}

.flex-holder {
    width: 150px;
    height: 140px;
}

@media (max-width: 865px) {
    .header-flex {
        flex-direction: column;
        justify-content: end;
    }

    .flex-holder {
        display: none;
    }
}