@page "/projects/{Title}"
@inject IJSRuntime js

<VolumeSlider />
<Header Toggled="true" />
<div class="specifications">
    <p class="title">In Progress!</p>
    <p class="subtext">Check back later for more details.</p>
</div>
<@Title />

<Footer />

<script>
    $(document).ready(function () {
        $('footer').css({ display: 'block', opacity: 1 });
        $('.volume-container').fadeIn(2000);
        $('.volume-container').css({ display: "flex" });
    });
</script>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("Rendered", Navigation.duration);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}

<style>
    * {
        font-family: 'Perpetua';
        margin: 0px;
        padding: 0px;
    }

    body {
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: black;
    }

    .specifications {
        padding-top: 500px;
        width: 100%;
        text-align: center;
        color: white;
    }

    .title {
        font-size: 48px;
    }

    .subtext {
        font-size: 36px;
    }
</style>