.specifications {
    top: 38.1%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}

.title {
    text-align: center;
    font-size: 48px;
}

.subtext {
    text-align: center;
    font-size: 36px;
}

.main-container {
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-box {
    max-width: 1178px;
    width: 1178px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
    border: solid 2px white;
    border-radius: 20px;
    flex-grow: 1;
}

.main-details {
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
    border: solid 2px white;
    border-radius: 20px;
}

.mini-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0 10px 0;
}

    .mini-list a {
        width: 30px;
        padding: 5px;
    }

.mini-socials {
    height: 23px;
    width: 23px;
    filter: invert(100%);
    cursor: pointer;
}

.mini-socials:hover {
    filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
}

.main-details-ico {
    filter: grayscale(1) invert(1) brightness(2.5) contrast(1);
}

@media (max-width: 1560px) {
    .main-container {
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: column-reverse;
    }

    .main-box {
        max-width: 1178px;
        width: 90%;
    }
}