@inject IJSRuntime js

<section class="banner">
    <h1 class="title">Aiden Nathan</h1>
    <hr class="hidden">
    <p class="subtext hidden">Game Programmer & Designer</p>
    <button class="enter" @onclick="FirstTimeLoad">Press to Enter</button>
</section>

<script>
    function FirstTimeLoad() {
        $('.hidden').not('hr').animate({ opacity: 1 }, 3000);
        $('hr.hidden').animate({ width: '40%', opacity: 1 }, 2000);
        $('.enter').animate({ opacity: 0 }, 1000);

        setTimeout(function () {
            $('.banner').fadeOut(1000);

            setTimeout(function () {
                AddContents();
                localStorage.setItem("Visited", true);
            }, 1000);
        }, 3500);
    }
</script>

@code {
    private void FirstTimeLoad()
    {
        js.InvokeVoidAsync("SetVolume", Audio.Volume = 0.4f, Audio.Muted = false);

        js.InvokeVoidAsync("FirstTimeLoad");
    }
}

<style>
    .banner {
        margin-top: 180px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.623);
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .banner hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .define {
        font-size: 28px;
        word-wrap: normal;
        margin: 28px 20% 28px 20%;
    }

    .enter {
        font-size: 24px;
        margin-top: 30px;
        padding: 5px 10px 5px 10px;
        color: white;
        background-color: black;
        transition-duration: 0.4s;
        cursor: pointer;
        border: solid 2px white;
        border-radius: 8px;
    }

    .enter:hover {
        background-color: white;
        color: black;
        border-color: black;
    }
</style>