@inject NavigationManager NavManager
@inject IJSRuntime js

<header class="navbar" style=@(Toggled ? "width: 100%; opacity: 1;" : "")>
    <div class="nav-menu nav-item">
        <HamburgerMenu />
    </div>
    <div class="nav-title nav-item">
        <a @onclick="@( () => Navigation.NavigateTo(NavManager, js,"/"))">
            <span class="nav-title-top">Aiden Nathan</span>
            <hr>
            <span class="nav-title-sub">Game Programmer & Designer</span>
        </a>
    </div>
    <div class="nav-socials nav-item">
        <img class="comments" src="../Resources/SVGs/Comments.svg" onclick="ToBottom()" alt="Comments">
    </div>
</header>

<NavMenu /> 

<script>
    const headerAnimateDist = 400;

    // Animates the header once too far down.
    // Makes the header / navigation banner transparent.
    $(window).scroll(function () {
        var screenTop = $(window).scrollTop();

        $('header').css(screenTop >= headerAnimateDist ? {"background-color": "rgba(0, 0, 0, 0.7)", "transition": "0.5s"} : {"background-color": "rgba(0, 0, 0, 1)", "transition": "0.5s"});
    });

    function ToBottom() {
        window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
    }
</script>

@code {
    [Parameter]
    public bool Toggled { get; set; } = false;
}

<style>
    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    a:active {
        color: white;
    }

    header {
        position: fixed;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0);
        padding-top: 30px;
        padding-bottom: 30px;
        opacity: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }

    header hr {
        width: 80%;
        border-bottom: solid 2px white;
    }

    .nav-item {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    .nav-title-top {
        font-size: 26px;
    }

    .nav-title-sub {
        font-size: 20px;
    }

    .comments {
        height: 25px;
        width: 25px;
        padding: 12.5px;
        filter: invert(100%);
        cursor: pointer;
    }

    .comments:hover {
        filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
    }
</style>